@model CIS421_PokemonDB.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pDesc)
        </dd>
 
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
