@model IEnumerable<CIS421_PokemonDB.Models.Pokemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pokemonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pokemonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.priorEvol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nextEvol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pokemonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pokemonType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priorEvol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nextEvol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imgPath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
